<div class="contents row">
  <% @ideas.each do |idea| %>
    <div class="content_post">
      <p><%= idea.category.name %></p>
        <span class="name">
          <%= idea.body %>
        </span>
    </div>
  <% end %>
</div>

<%= link_to '投稿する', new_idea_path %>